
@charset "utf-8";
/* CSS Document */

*
{
  margin:0;
  padding:0;
}

    header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
body{
  background-color: white;
}

#login-form
{
  margin-top:70px;
}
h1{
  font-family: Geneva;

}
table
{
  float: center;
  border:solid #006064 4px;
  padding:15px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
table tr,td
{
  
  padding:15px;
   border-radius: 4px;

  //border:solid #e1e1e1 1px;
}


table tr td input
{
  width:97%;
  height:45px;
  border:solid #e1e1e1 1px;
  border-radius:3px;
  padding-left:10px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:16px;
  background:#f9f9f9;
  color: black;
  transition-duration:0.5s;
  box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

table tr td button
{
  float: center;
  width:100%;
  height:45px;
  border:0px;
  background-color:black;
  border-radius:3px;
  box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
  color: white;
  font-family:Verdana, Geneva, sans-serif;
  font-size:18px;
  font-weight:bolder;
  text-transform:uppercase;
}
table tr td button:active
{
  color: white;
  position:relative;
  top:1px;
}
table tr td a
{
  text-decoration:none;
  color:#00a2d1;
  font-family:Verdana, Geneva, sans-serif;
  font-size:18px;
}

/* css for home page  */

*
{
  margin:0;
  padding:0;
}
#header
{
  width:100%;
  height:60px;
  background:rgba(00,11,22,33);
  color:#9fa8b0;
  font-family:Verdana, Geneva, sans-serif;
}
#header #left
{ 
  float:left;
  position:relative;
}
#header #left label
{
  position:relative;
  top:5px;
  left:100px;
  font-size:35px;
}
#header #right
{
  float:right;
  position:relative;
}
#header #right #content
{
  position:relative;
  top:20px;
  right:100px;
  color:#fff;
}
#header #right #content a
{
  color:#00a2d1;
}
.central {
  background-image:url("2n18j89.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#body
{
  text-align:center;
  margin-top:150px;
  font-family:Verdana, Geneva, sans-serif;
  font-size:36px;
}

/* css for home page */
/* CSS for ldap_Login */


nav ul a,
nav .brand-logo {
  color: #444;
  float: left;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

#header-logo img{
  width: 50px;
  margin: 3px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
